div{
  color:aqua;
  font-size: 50px;
}
a{
  color:blueviolet;
  font-size: 30px;
  align-items: center;

}
img{
  align-content: center;
}

.inputF:focus{
  background-color: orange;
}
.box{
  height: 300px;
  width: 300px;
  border: 2px;
  border-style: solid;
  border-color: red;
  border-radius: 30px;
  transform: skewX(-45deg);
}